<!DOCTYPE html>
<html lang="ko">
{% from "_inc/components.html" import datepicker, breadcrumb, stepper, pagination, search_filter, filter_daterange,
filter_select, filter_select_keyword %}

{% set pageTitle = "자체평가 - 평가하기 | 한국건강가정진흥원 평가시스템" %}
{% set currentSection = "self-eval" %}
{% include "_inc/head.html" %}

<body>
    {% include "_inc/header.html" %}

    <main id="sub-contents">
        <div class="inner">
            {{ breadcrumb([["홈"], ["자체평가"], ["평가하기"]]) }}

            <h2 class="page-title">자체평가</h2>

            <div class="info-box mt-32">
                <div class="box-head">
                    <h3 class="box-title">평가보고 실시 개요</h3>
                </div>
                <div class="box-body">
                    <p>평가보고는 평가지표에서 제시하는 기준에 따라 자체적으로 기관 및 사업운영에 대해 진단하여 현장평가 전 미흡한 부분을 보충하고, 객관적인 평가를 받기 위해 필요한 기초 자료를
                        제공하기 위하여 작성하는 것입니다.</p>
                    <p>평가는 기관 스스로 진단하는 의미뿐만 아니라 외부 평가단이 평가하는 기초 자료가 되므로 상세하고 객관적으로 정확하게 작성하여야 합니다.</p>
                </div>
            </div>

            {{ stepper(["평가선택", "기관 운영 현황 작성", "평가지표 작성", "결과보고서 의견", "평가완료"], active=1) }}
            <div class="content-area">
                <div class="content-title-wrap">
                    <h3 class="content-title">1. 평가선택</h3>
                    {% call search_filter() %}
                    {{ filter_daterange("평가기간", "2026.04.20", "2026.04.24") }}
                    {{ filter_select_keyword("진행상태", ["전체", "미평가", "진행중", "보완요청", "평가완료"], "평가명을 검색해주세요.") }}
                    {% endcall %}
                </div>

                <div class="default-table-wrap">
                    <table class="default-table">
                        <caption>평가 선택 목록</caption>
                        <colgroup>
                            <col style="width: 100px;">
                            <col style="width: auto;">
                            <col style="width: 240px;">
                            <col style="width: 180px;">
                            <col style="width: 160px;">
                        </colgroup>
                        <thead>
                            <tr>
                                <th scope="col">번호</th>
                                <th scope="col">평가명</th>
                                <th scope="col">평가기간</th>
                                <th scope="col">평가상태</th>
                                <th scope="col">평가진행</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>5</td>
                                <td class="text-left">평가보고는 평가지표에서 제시하는 기준에 따라 자체적으로 기관 및 사업운영</td>
                                <td>2026.03.20~2026.04.20</td>
                                <td>진행중</td>
                                <td><button type="button" class="btn-status purple">평가하기</button></td>
                            </tr>
                            <tr>
                                <td>4</td>
                                <td class="text-left">기관 스스로 진단하는 의미뿐만 아니라 외부 평가단이 평가하는 기초 자료</td>
                                <td>2026.03.20~2026.04.20</td>
                                <td>보안요청 <span class="badge-red btn-open-modal">보완사유</span></td>
                                <td><button type="button" class="btn-status brown">재평가</button></td>
                            </tr>
                            <tr>
                                <td>3</td>
                                <td class="text-left">평가보고는 평가지표에서 제시하는 기준에 따라 자체적으로 기관 및 사업운영</td>
                                <td>2026.03.20~2026.04.20</td>
                                <td>완료</td>
                                <td><button type="button" class="btn-status lavender">상세보기</button></td>
                            </tr>
                            <tr>
                                <td>2</td>
                                <td class="text-left">기관 스스로 진단하는 의미뿐만 아니라 외부 평가단이 평가하는 기초 자료가</td>
                                <td>2026.03.20~2026.04.20</td>
                                <td>진행중</td>
                                <td><button type="button" class="btn-status">평가하기</button></td>
                            </tr>
                            <tr>
                                <td>1</td>
                                <td class="text-left">평가보고는 평가지표에서 제시하는 기준에 따라 자체적으로 기관</td>
                                <td>2026.03.20~2026.04.20</td>
                                <td>진행중</td>
                                <td><button type="button" class="btn-status">평가하기</button></td>
                            </tr>
                        </tbody>
                    </table>
                </div>

                <div class="empty-msg">
                    평가 기간이 아닙니다.
                </div>
            </div>
        </div>
    </main>


    {% include "_inc/footer.html" %}
    <div class="modal-overlay active">
        <div class="modal-container">
            <div class="modal-header">
                <h2 class="modal-title">보완사유</h2>
                <button type="button" class="btn-close-modal" title="닫기"></button>
            </div>
            <div class="modal-content">
                <div class="modal-board-top">
                    {% call search_filter() %}
                    {{ filter_select_keyword("유형", ["선택","자료누락", "내용보완", "수치오류","작성미흡","증빙불일치","기준미충족","기타"], "검색어를 입력해 주세요.") }}
                    {% endcall %}
                </div>
                <div class="modal-table-wrap">
                    <table class="modal-table">
                        <caption>보완 요청 목록</caption>
                        <colgroup>
                            <col style="width: 100px;">
                            <col style="width: 180px;">
                            <col style="width: 180px;">
                            <col style="width: auto;">
                            <col style="width: 240px;">
                        </colgroup>
                        <thead>
                            <tr>
                                <th scope="col">번호</th>
                                <th scope="col">유형</th>
                                <th scope="col">평가자</th>
                                <th scope="col">제목</th>
                                <th scope="col">보완요청일</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>2</td>
                                <td>자료누락</td>
                                <td>홍**</td>
                                <td><a href="#" class="link">증빙자료 일부 누락되었습니다.</a></td>
                                <td>2026.04.02</td>
                            </tr>
                            <tr>
                                <td>1</td>
                                <td>평가수정</td>
                                <td>유**</td>
                                <td><a href="#" class="link">수정요청건</a></td>
                                <td>2026.03.02</td>
                            </tr>
                        </tbody>
                    </table>
                </div>

                {{ pagination(current=1, total=10) }}

                <div class="modal-table-wrap">
                    <table class="modal-horizontal-table">
                        <colgroup>
                            <col style="width: 180px;">
                            <col style="width: auto;">
                        </colgroup>
                        <caption>보완 요청 목록</caption>
                        <tbody>
                            <tr>
                                <th scope="row">제목</th>
                                <td>증빙자료 일부 누락되었습니다.</td>
                            </tr>
                            <tr>
                                <th scope="row">평가자</th>
                                <td>홍**평가자</td>
                            </tr>
                            <tr>
                                <th scope="row">유형</th>
                                <td>자료누락</td>
                            </tr>
                            <tr>
                                <th scope="row">보완요청일</th>
                                <td>2026.03.02</td>
                            </tr>
                            <tr>
                                <th scope="row">내용</th>
                                <td>
                                    증빙자료 일부 누락되었습니다.<br>
                                    특히 1-1-2 항목 관련 자료를 보완해주세요.<br><br>
                                    또한 사업계획서 최신본으로 수정 바랍니다.
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>


                <div class="modal-footer">
                    <button type="button" class="btn-modal-close">닫기</button>
                </div>
            </div>
        </div>
</body>


</html>