<!doctype html>
<html lang="ko">
{% set pageTitle = "한국건강가정진흥원" %} {% include "_inc/head.html" %}

<body>
  {% include "_inc/header.html" %}

  <main id="main-contents">
    <section class="hero-section">
      <div class="inner">
        <div class="slogan-wrap">
          <p class="sub-slogan">한국건강가정진흥원</p>
          <h1 class="main-slogan">가족센터 평가시스템</h1>
          <p class="desc">
            가족센터의 헌신적인 노력을 체계적인 데이터로 자산화하여 기관의 전문성을 입증하는 신뢰의 장을 마련합니다.
            <br />
            현장의 소중한 기록들을 가치 있는 성과로 환원하며, 사용자 중심의 직관적인 평가 환경을 통해
            <br />
            가족 복지의 명확한 비전과 방향성을 제시해 드립니다.
          </p>
        </div>

        <div class="card-group">
          <!-- 자체평가 카드 -->
          <a class="card-item large purple-card">
            <div class="card-content">
              <h2 class="card-title">자체평가</h2>
              <p class="card-desc">투명한 성찰과 객관적 지표, 센터의 신뢰를 쌓는 첫걸음입니다.</p>
            </div>
          </a>

          <div class="card-sub-wrap">
            <!-- 공지사항 카드 -->
            <div class="card-item white-card notice-card">
              <div class="card-head">
                <h2 class="card-title">공지사항</h2>
                <a href="#" class="btn-more"><span class="sr-only">더보기</span></a>
              </div>
              <ul class="notice-list">
                <li>
                  <a href="#" class="notice-item">
                    <span class="text">제11회 아시아가족치료학회 연례회의</span>
                    <span class="date">2026.04.24</span>
                  </a>
                </li>
                <li>
                  <a href="#" class="notice-item">
                    <span class="text">2026 국제결혼중개업자 연간 교육일정</span>
                    <span class="date">2026.04.20</span>
                  </a>
                </li>
                <li>
                  <a href="#" class="notice-item">
                    <span class="text">촉법소년 연령 논의 관련 학습영상 자료</span>
                    <span class="date">2026.03.28</span>
                  </a>
                </li>
              </ul>
            </div>

            <!-- 자료실 카드 -->
            <div class="card-item white-card archive-card">
              <div class="card-content">
                <h2 class="card-title">자료실</h2>
                <a href="#" class="btn-go"><span class="sr-only">이동</span></a>
              </div>
              <div class="card-icon">
                <img src="/assets/images/main/ico-archive.svg" alt="자료실 아이콘" />
              </div>
            </div>

            <!-- FAQ 카드 -->
            <div class="card-item white-card faq-card">
              <div class="card-content">
                <h2 class="card-title">FAQ</h2>
                <a href="#" class="btn-go"><span class="sr-only">이동</span></a>
              </div>
              <div class="card-icon">
                <img src="/assets/images/main/ico-faq.svg" alt="FAQ 아이콘" />
              </div>
            </div>

            <!-- Q&A 카드 -->
            <div class="card-item white-card qna-card">
              <div class="card-content">
                <h2 class="card-title">Q&A</h2>
                <a href="#" class="btn-go"><span class="sr-only">이동</span></a>
              </div>
              <div class="card-icon">
                <img src="/assets/images/main/ico-qna.svg" alt="Q&A 아이콘" />
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </main>

  {% include "_inc/footer.html" %}
</body>

</html>